# Remove before produce.
LETSENCRYPT_TEST=true

LETSENCRYPT_EMAIL=your@email.com

# Comma-seperated
HOST=live-dl.domain.com

# The percentage of remaining disk capacity that triggers automatic file deletion
# For example, if it is set to 85, the video files will be deleted until the disk usage rate is lower than 85% or the directory is empty. It will be triggered every day at 01:00 UTC.
DelPercentage=85