[submodule "live-dl"]
	path = live-dl
	url = https://github.com/jim60105/live-dl.git
[submodule "youtube-dl-server"]
	path = youtube-dl-server
	url = https://github.com/jim60105/youtube-dl-server.git
